:root {
    /* primary colors */
    --col1 : #EEEEEE;
    --col2 : #DEDEDE;
    --col3 : #FF4949;
    --col4 : #C10000;
}

body{
    background-color: var(--col2);
}

#main{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width:90%;
    /* border:5px solid yellow; */
}

#balance-menu{
    flex:2.5;
    text-align: center;
    display:flex;
    flex-direction: column;
     /* border: 5px solid red; */
}

h1#machine-title{
    font-size: 6rem;
}

#bills{
    display:flex;
    justify-content: space-around;
    /* border: 2px solid green; */
}

#Dollar1,#Dollar5{
    width:35%;
}

#coin{
    align-self: center;
    width:20%;
}

#vending-machine{
    flex:1.5;
    /* border: 5px solid green; */
    position: relative;
}

.machine{
    width:90%;
    height: 90%;
}

#items-grid{
    /* position: absolute;
    top:8%;
    left:8%; */
    width: 40%;
    min-width: 30%;
    height: 50%;
    min-height: 50%;
    display: block;
    position: absolute;
    top: 37%;
    left: 30%;
    
    transform: translate(-50%, -50%);
    position:absolute;

    /* border:2px solid pink; */
}

.chips{
    position:relative;
    left:5%;
    top:16%;
    width:40%;
    transition: transform 1s, top 1s;
}
.chocolate{
    position:relative;
    right:-22%;
    top:16%;
    width:40%;
    
    transition: transform 1s, top 1s;
}
.water{
    position:relative;
    top:28%;
    width: 50%;
    transition: transform 1s, top 1s;
}
.soda{
    position:relative;
    bottom:-30%;
    right:-15%;
    width:25%;
    transition: transform 1s, top 1s;
}

#balance{
    position: absolute;
    top:16%;
    right: 32%;
    /* border-width: 10px;
    border-style: solid;
    border-color: greenyellow; */
    width:4%;
    height: 3%;
    color:white;
    font-size:1vw;
}

.menu{
    width:20%;
    height: 50%;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%,-50%) scale(0.1);
    background-color: var(--col1);
    border-radius: 10px;
    text-align: left;
    font-size: 45px;
    word-wrap: break-word;
    inline-size: 20%; 
    overflow-wrap: break-word;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-menu{
    visibility: visible;
    top:50%;
    transform: translate(-50%,-50%) scale(1);
}

.optionButton{
    position: relative;
    top:40%;
    width:100px;
    margin-top:10px;
    padding:10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}

#selector{
    width:20%;
    height: 20%;
    /* border:2px solid blue;  */
    position: absolute;
    right: 21%;
    top:15%;
    cursor: pointer;
}

#reset{
    position: absolute;
    bottom:5%;
    left:10%;
    width:10%;
    background-color: transparent;
    border-radius: 10%;
    cursor:pointer;
}

.out{
    top:100%;
    transform: rotate(270deg);
    left:18%;
}
.out2{
    top:133%;
    transform: rotate(270deg);
    left:18%;
}

#less{
    text-align: center;
    font-size: 80px;
    color:#C10000;
    vertical-align: middle;
}

#ok{
    position: relative;
    top:40%;
    left:-30%;
    width: 100px;
    height: 100px;

}

